body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./image/Logo.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*ProductCard*/

.cardbutton  {
  background-color: rgb(255,20,147);
  color: white;
  border-color: rgb(255,20,147);
}

.cardbutton:hover {
  background-color: white;
  color: black;
  border-color: rgb(255,20,147);
}

.cardbody {
  margin-top: 20px;
  background-color: rgb(239, 207, 227);
  width: 300px;
  display: inline-block;
  vertical-align: text-top;
  margin-left: 20px;
}


/*Dashboard*/

.table {
  background-color: rgb(239, 207, 227);
  border-radius: 20px;
  border-color: transparent;
}

.dashboard {
 display: inline-block;
  vertical-align: text-top;
  width: 80vw;
}

.A {
  float: right;
  background-color: rgb(255,20,147);
  border-color: rgb(255,20,147);
  color: white;

}

.A:hover {
  background-color: white;
  color: black;
  border-color: rgb(255,20,147);
}


/*Register*/

.register-terms {
  float: right;
}


.form {
  background-color: rgb(239, 207, 227);
  margin-top: 50px;
  border-radius: 30px;
  padding: 20px;
}

.register-title {
  padding: 20px;
}


.register-btn, {
  background-color: rgb(255,20,147);
  color: white;
  border-color: rgb(255,20,147);
}

.register-btn:hover {
  background-color: white;
  color: black;
  border-color: rgb(255,20,147);
}


/*Login*/
.login {
  background-color: rgb(239, 207, 227);
  margin-top: 50px;
  border-radius: 30px;
  padding: 20px;
}

.loginButton {
  background-color: rgb(255,20,147);
  color: white;
  border-color: rgb(255,20,147);
}


/*edit product*/
.editForm {
   background-color: rgb(239, 207, 227);
  margin-top: 50px;
  border-radius: 30px;
  padding: 20px;
}


#submitBtn {
  background-color: rgb(255,20,147);
  color: white;
  border-color: rgb(255,20,147);
}


/*Add Product*/
.addProductForm {
  background-color: rgb(239, 207, 227);
  margin-top: 50px;
  border-radius: 30px;
  padding: 20px;

}